<!DOCTYPE html>
<html>
  <head lang="en-US">
    <meta charset="utf-8">
    <title>Branch</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/api/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=no">
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/app.js"></script>
    
    <header>
      <span class="title"><a ng-href="#!/">Branch</a></span>
      <span class="flex-grow"></span>
      <button class="button" ng-click="startBattle()" ng-hide="inBattle">Battle</button>
      <button class="button" ng-click="forfeit()" ng-show="inBattle">Forfeit</button>
      <span class="flex-grow"></span>
      <span class="login-info logged-in" ng-show="loggedIn">
        <span class="username">{{username}}</span> <a href="" ng-click="logOut()">Log Out</a>
      </span>
      <span class="login-info logged-out" ng-hide="loggedIn">
        <a ng-href="#!/login">Log In</a> or
        <a ng-href="#!/create">New User</a>
      </span>
    </header>
    <content ng-view>
    </content>
    <footer ng-if="offline">
      <span>GAME SERVER OFFLINE</span>
    </footer>
  </body>
</html>