* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

:focus {
  outline: 0;
}

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  align-items: center;
  background-color: #757575;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px;
}

header a {
  color: #E0E0E0;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

content {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

h2 {
  color: #757575;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.link {
  color: #0277BD;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.button {
  background-color: #0288D1;
  border: none;
  border-radius: 0;
  color: #fff;
  margin: 4px;
  min-width: 100px;
  padding: 8px;
  transition: all 0.2s;
}

.button:hover {
  background-color: #0277BD;
}

.button:disabled {
  background-color: #757575;
  cursor: wait;
}

.button:disabled:hover {
  background-color: #616161;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wiggle {
  animation: wiggle 1 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-12px);
  }
  75% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 4px;
}

.input-container i {
  color: #9E9E9E;
  margin: 4px;
}

.input-container input[type=text],
.input-container input[type=password] {
  padding: 4px;
}

.flex-grow {
  flex-grow: 1;
}
