* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

:focus {
  outline: 0;
}

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  align-items: center;
  background-color: #757575;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
}

header .title {
  color: #fff;
  font-size: 25px;
  font-style: italic;
}

.battle-header {
  background-color: #EEEEEE;
  color: #616161;
}

header > span {
  width: 30%;
}

header span:nth-child(2) {
  text-align: center;
}
header span:nth-child(3) {
  text-align: right;
}

footer {
  align-items: center;
  background-color: #D32F2F;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
}

header a {
  color: #E0E0E0;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

content {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

h2 {
  color: #757575;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.subhead {
  color: #757575;
  padding-bottom: 5px;
  text-align: center;
}

h2.winner {
  font-size: 40px;
}

h3 {
  color: #757575;
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.link {
  color: #0277BD;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.button {
  background-color: #0288D1;
  border: none;
  border-radius: 0;
  color: #fff;
  margin: 4px;
  min-width: 100px;
  padding: 8px;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  background-color: #2196F3;
}

.button.red {
  background-color: #E53935;
}

.button.red:hover {
  background-color: #F44336;
}

.button:disabled {
  background-color: #616161;
  cursor: wait;
}

.button:disabled:hover {
  background-color: #757575;
}

.round {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 0;
  padding: 0;
  width: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wiggle {
  animation: wiggle 1 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-12px);
  }
  75% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 4px;
}

.input-container i {
  color: #9E9E9E;
  margin: 4px;
}

.input-container input[type=text],
.input-container input[type=password] {
  padding: 4px;
}

.flex-grow {
  flex-grow: 1;
}

.login-info {
  text-align: right;
}

.chat-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.chat-overlay h2 {
  color: #eee;
  margin: 4px;
}

.chat-overlay .form-container {
  background-color: #000;
  border-radius: 4px;
  margin: 4px;
  padding: 10px;
}

.chat-overlay .form-container .round i.material-icons {
  color: #fff;
}

.chat-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battle-container, .battle-pane {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.battle-pane {
  justify-content: space-between;
}

.classes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.classes.enemy {
  align-self: flex-end;
}

.classes.team {
  align-self: flex-start;
}

.classes.vert {
  flex-direction: column;
  align-self: stretch;
}

.battle-pane .message {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  justify-content: space-between;
}

.message > span {
  flex-grow: 0;
  padding: 10px;
  width: 100px;
}

.message-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: auto;
}

.message-column .instruction {
  color: #757575;
  font-size: 30px;
  text-align: center;
}

.class-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.class-card {
  color: #fff;
  box-shadow: 0 0 0 #000;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 250px;
  justify-content: space-between;
  margin: 10px;
  position: relative;
  transform: translate(0, 0);
  transition: all 0.2s;
  width: 200px;
}

.class-card .name {
  color: #fff;
  font-weight: normal;
}

.class-card:hover .hidden-buff {
  opacity: 1;
}

.class-card .hidden-buff {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  left: 50%;
  opacity: 0;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  width: 200px;
}

.hidden-buff > div {
  margin-bottom: 8px;
  margin-top: 8px;
}

.class-card.active:after {
  bottom: 0;
  content: 'arrow_upward';
  font-family: 'Material Icons';
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.class-icon {
  background-image: url('/res/icons.png');
  background-position-x: 0;
  height: 31px;
  width: 31px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.class-icon.future {
  background-position-y: 31px;
}

.class-icon.feudal {
  background-position-y: 62px;
}

.class-icon.fantasy {
  background-position-y: 0;
}

.class-icon.attack {
  background-position-x: 93px;
}

.class-icon.defend {
  background-position-x: 62px;
}

.class-icon.power {
  background-position-x: 31px;
}

.lineup {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: center;
}

.lineup .card {
  align-items: center;
  border: 2px solid #aaa;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  margin: 4px;
  width: 70px;
  position: relative;
  transform: translate(0,0);
  transition: all 0.2s;
}

.lineup .card:hover {
  border: 2px solid #ccc;
}

.lineup .class-icon {
  zoom: 1.5;
}

.class-card .avatar {
  background-image: url('/res/sprites.png');
  height: 192px;
  background-position-x: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 192px;
}

.class-card.attacked {
  animation: 0.5s pulse infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.class-card.attacking .avatar {
  background-image: url('/res/sprites_attack.png');
}

.class-card.attacked {
  box-shadow: 0 0 30px #500;
}

.class-card.attacking {
  box-shadow: 0 0 30px #000;
  z-index: 10;
}

.class-card .avatar.future {
  background-position-y: 0;
}

.class-card .avatar.feudal {
  background-position-y: 384px;
}

.class-card .avatar.fantasy {
  background-position-y: 192px;
}

.class-card .avatar.sprite-0 {
  background-position-x: 0;
}

.class-card .avatar.sprite-1 {
  background-position-x: 960px;
}

.class-card .avatar.sprite-2 {
  background-position-x: 768px;
}

.class-card .avatar.sprite-3 {
  background-position-x: 576px;
}

.class-card .avatar.sprite-4 {
  background-position-x: 384px;
}

.class-card .avatar.sprite-5 {
  background-position-x: 192px;
}

.class-card.dead {
  opacity: 0.5;
}

.class-card.dead .commands {
  pointer-events: none;
}

.class-card.future {
  background-color: #01579B;
}

.class-card.future:hover {
  background-color: #1565C0;
}

.class-card.feudal {
  background-color: #B71C1C;
}

.class-card.feudal:hover {
  background-color: #C62828;
}

.class-card.fantasy {
  background-color: #1B5E20;
}

.class-card.fantasy:hover {
  background-color: #2E7D32;
}

.status-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 100%;
}

.status-bar .health {
  color: #fff;
  font-size: 20px;
  transition: all 0.2s ease;
}

.animateText.health {
  font-size: 30px;
  animation: 0.2s bobbleText infinite;
}

@keyframes bobbleText {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  } 
  75% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0);
  }
}

.status-bar .stats {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
}

.status-bar .stats span {
  text-align: center;
}


.commands,
.defend-overlay {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  width: 100%;
}

.commands {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.commands.active, .commands:hover, .class-card.selecting .commands {
  opacity: 1;
}

.commands .action-button {
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 5px;
  transition: all 0.2s;
  width: 80px;
}

.commands .action-button .class-icon {
  zoom: 2;
}

.defend-overlay .class-icon {
  transform: scale(3);
  animation: bumpZoom 1 0.5s ease-in-out;
}

@keyframes bumpZoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(4);
  }
  100% {
    opacity: 1;
    transform: scale(3);
  }
}

.commands .action-button:hover,
.commands .action-button.active {
  border: 2px solid white;
}

.commands .action-button.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.round-counter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: flex-start;
  left: 30px;
  position: absolute;
  top: 80px;
}

.class-info-container {
  align-items: center;
  align-self: stretch;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: row;
  margin: 10px;
  overflow-x: auto;
  padding: 10px;
}

.class-info-container > .class-card {
  margin: 0 8px 0 0;
}

.class-info {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 250px;
  justify-content: flex-start;
}

.class-info > .class-card {
  margin: 0 8px 0 0;
}

table {
  font-size: 20px;
  padding: 10px;
}

td:first-child {
  font-weight: bold;
  min-width: 100px;
  padding-right: 5px;
  text-align: right;
}

.power-up {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.power-up .class-icon {
  transform: scale(3);
}

.show-ability {
  position: absolute;
  right: 5px;
  top: 5px;
}

.attack-speed {
  display: flex;
  flex-direction: column;
  left: 5px;
  position: absolute;
  top: 5px; 
  font-size: 12px;
}

.attack-speed .animateText {
  font-size: 20px;
  animation: 0.2s bobbleText infinite;
}

.how-to {
  align-items: stretch;
  align-self: center;
  background-color: #E0E0E0;
  color: #616161;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 12px;
  max-width: 800px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .how-to {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    max-width: none;
    width: 100%;
  }
}

.how-to p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.versus-dialog {
  align-items: center;
  animation: 4s fadeinout 1 ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.versus-dialog .vs {
  color: #fff;
  font-size: 40px;
  padding: 10px;
}

.versus-dialog .player-name {
  color: #81D4FA;
  font-size: 40px;
  font-style: italic;
}

.slide-left {
  animation: slide-left 1 1s ease-in;
}

.slide-right {
  animation: slide-right 1 1s ease-in;
}

@keyframes slide-left {
  0%, 50% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0%, 50% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#preload-sprites {
  background: url(/res/sprites.png) no-repeat -9999px -9999px;
}
#preload-sprites-attack {
  background: url(/res/sprites_attack.png) no-repeat -9999px -9999px;
}
#preload-icons {
  background: url(/res/icons.png) no-repeat -9999px -9999px;
}
[id^="preload"] {
  height: 0;
  position: fixed;
  top: -9999px;
  left: -9999px;
  width: 0;
}

.chat-messages {
  left: 30px;
  pointer-events: none;
  position: absolute;
  top: 80px;
}

.chat-message {
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  width: 200px;
}

.chat-message.appear {
  animation: messageAppear 1 ease-in-out 0.5s;
}

.chat-message.disappear {
  animation: messageDisappear 1 ease-in-out 0.5s;
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes messageAppear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes messageDisappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.chat-message > .author {
  color: #0D47A1;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

.chat-message > .body {
  color: #616161;
  font-size: 12px;
}