<!DOCTYPE html>
<div class="centered">
  <h3>Recruit Three</h3>
  <div class="classes">
    <div class="class-container" ng-repeat="class in ['future', 'feudal', 'fantasy', 'fanatic', 'feral']">
      <div class="class-card recruit {{class}}">
        <span></span>
        <div class="avatar {{class}}"></div>
        <h2 class="name">{{class}}</h2>
      </div>
      <button class="button round" ng-click="addSlot(class)">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <div class="lineup">
    <div class="card" ng-repeat="i in [0,1,2]" ng-click="removeSlot(i)">
      <div class="class-icon" ng-if="slots[i]" ng-class="slots[i]"></div>
    </div>
  </div>
  <button class="button" ng-click="toggleReady()" ng-disabled="slots.length != 3" ng-class="{red: ready}">{{ready ? "Not " : ""}}Ready</button>
</div>
<div class="versus-dialog">
  <span class="player-name slide-left">{{username}}</span>
  <span class="vs">vs</span>
  <span class="player-name slide-right">{{enemyName}}</span>
</div>