<!DOCTYPE html>
<div class="battle-container" ng-switch="phase">
  <header ng-if="['setup','progress','prep','playback'].includes(phase)" class="battle-header">
    <span>{{username}} vs {{enemyName}}</span>
    <span>
      <span ng-show="round">Round {{round}}</span>
      <span ng-hide="round">Setup</span>
    </span>
    <span>
      <span ng-if="phase=='prep'">{{ip}} BP</span>
      <span ng-hide="phase=='playback'">
        &nbsp;<span id="time">120</span>s left
      </span>
    </span>
  </header>
  
  <battle-setup class="battle-container" ng-switch-when="setup"></battle-setup>
  <battle-lobby class="battle-container" ng-switch-when="lobby"></battle-lobby>
  <battle-progress class="battle-container" ng-switch-when="progress"></battle-progress>
  <battle-playback class="battle-container" ng-switch-when="playback"></battle-playback>
  <battle-prep class="battle-container" ng-switch-when="prep"></battle-prep>
  <battle-end class="battle-container" ng-switch-when="end"></battle-end>

  <div class="chat-overlay" ng-if="showChatOverlay">
    <header class="message-header">
      <span></span>
      <span>{{username}} vs {{enemyName}}</span>
      <span>
        <button class="button round" ng-click="toggleChatOverlay()">
          <i class="material-icons">
            close
          </i>
        </button>
      </span>
    </header>
    <div class="message-container" id="messageContainer">
      <div class="chat-messages">
        <span class="chat-message" ng-repeat="msg in messages" ng-class="{own: msg.own}">
          <span class="author">{{msg.author}}</span>
          <span class="body">{{msg.body}}</span>
        </span>
      </div>
    </div>
    <form class="message-row" ng-submit="sendMessage()">
      <div class="input-container">
        <input type="text" ng-model="chatMessage.msg" placeholder="Enter a Message">
      </div>
      <button class="button round" type="submit" ng-disabled="disableMessage">
        <i class="material-icons" ng-class="{bobble: fail}">
          send
        </i>
      </button>
    </form>
  </div>
</div>