<!DOCTYPE html>
<div class="battle-pane">
  <div class="classes enemy">
    <div class="class-card {{recruit.class}}" ng-repeat="recruit in opponentRecruits" ng-click="selectTarget(recruit)" ng-class="{active: isSelected(recruit) || selectingRecruit, dead:(recruit.health <= 0)}">
      <div class="status-bar">
        <span class="health">{{recruit.health}} / {{recruit.maxHealth}}</span>
      </div>
      <div class="avatar {{recruit.class}} sprite-{{recruit.sprite}}"></div>
      <h2 class="name">{{recruit.name}}</h2>
      <div class="attack-speed">
        <span>A: {{recruit.attack}}</span>
        <span>S: {{recruit.speed}}</span>
      </div>
      <div class="show-ability" ng-if="recruit.ability">
        <i class="material-icons">add</i>
      </div>
    </div>
  </div>
  <div class="message">
    <span class="instruction" ng-show="selectingRecruit">Select a Target</span>
    <button class="button" ng-click="toggleRoundReady()" ng-show="roundReady()" ng-class="{red: ready}">{{ready ? "Not " : ""}}Ready</button>
  </div>
  <div class="classes team">
    <div class="class-card {{recruit.class}}" ng-class="{selecting: selectingRecruit == recruit, dead: (recruit.health <= 0)}" ng-repeat="recruit in recruits">
      <div class="status-bar">
        <span class="health">{{recruit.health}} / {{recruit.maxHealth}}</span>
      </div>
      <div class="avatar {{recruit.class}} sprite-{{recruit.sprite}}"></div>
      <h2 class="name">{{recruit.name}}</h2>
      <div class="attack-speed">
        <span>A: {{recruit.attack}}</span>
        <span>S: {{recruit.speed}}</span>
      </div>
      <div class="show-ability" ng-if="recruit.ability">
        <i class="material-icons">add</i>
      </div>
      <div class="commands" ng-class="{active: recruit.moveType}">
        <div class="action-button" ng-class="{active: recruit.moveType == 'attack' || selectingRecruit == recruit}" ng-click="startAttack(recruit)">
          <div class="class-icon {{recruit.class}} attack"></div>
        </div>
        <div class="action-button" ng-class="{active: recruit.moveType == 'defend'}" ng-click="defend(recruit);">
          <div class="class-icon {{recruit.class}} defend"></div>
        </div>
      </div>
    </div>
  </div>
</div>