<!DOCTYPE html>
<div class="battle-pane">
  <div class="classes enemy">
    <div class="class-card {{recruit.class}}" ng-repeat="recruit in playback.teams[(playback.team%2)+1]" ng-class="{dead: (recruit.health <= 0), attacking: recruit.attacking, attacked: recruit.attacked}">
      <div class="status-bar">
        <span class="health" ng-class="{animateText: recruit.animate_health}">{{recruit.health}} / {{recruit.maxHealth}}</span>
      </div>
      <div class="avatar {{recruit.class}} sprite-{{recruit.sprite}}"></div>
      <h2 class="name">{{recruit.name}}</h2>
      <div class="attack-speed">
        <span>A: <span ng-class="{animateText: recruit.animate_attack}">{{recruit.attack}}</span></span>
        <span>S: <span ng-class="{animateText: recruit.animate_speed}">{{recruit.speed}}</span></span>
      </div>
      <div class="show-ability" ng-if="recruit.ability">
        <i class="material-icons">add</i>
      </div>
      <div class="defend-overlay" ng-show="recruit.defending">
        <div class="class-icon {{recruit.class}} defend"></div>
      </div>
    </div>
  </div>
  <div class="message">
    <span></span>
    <span></span>
    <span class="chat-button">
      <button class="button round chat" ng-click="toggleChatOverlay()" ng-if="canChat()" ng-class="{notify: newMessages}">
        <i class="material-icons">chat_bubble</i>
      </button>
    </span>
  </div>
  <div class="classes team">
    <div class="class-card {{recruit.class}}" ng-repeat="recruit in playback.teams[playback.team]" ng-class="{dead: (recruit.health <= 0), attacking: recruit.attacking, attacked: recruit.attacked}">
      <div class="status-bar">
        <span class="health" ng-class="{animateText: recruit.animate_health}">{{recruit.health}} / {{recruit.maxHealth}}</span>
      </div>
      <div class="avatar {{recruit.class}} sprite-{{recruit.sprite}}"></div>
      <h2 class="name">{{recruit.name}}</h2>
      <div class="attack-speed">
        <span>A: <span ng-class="{animateText: recruit.animate_attack}">{{recruit.attack}}</span></span>
        <span>S: <span ng-class="{animateText: recruit.animate_speed}">{{recruit.speed}}</span></span>
      </div>
      <div class="show-ability" ng-if="recruit.ability">
        <i class="material-icons">add</i>
      </div>
      <div class="defend-overlay" ng-show="recruit.defending">
        <div class="class-icon {{recruit.class}} defend"></div>
      </div>
    </div>
  </div>
</div>