<!DOCTYPE html>
<div class="battle-pane">
  <div class="classes enemy center">
    <div class="class-card {{recruit.class}}" ng-repeat="recruit in opponentRecruits" ng-click="selectTarget(recruit)" ng-class="{selectingRecruit, dead:(recruit.health <= 0)}">
      <div class="status-bar">
        <span class="health">{{recruit.health}} / {{recruit.maxHealth}}</span>
      </div>
      <div class="avatar {{typeToClass(recruit.type)}} sprite-{{recruit.sprite}}"></div>
      <h2 class="name">{{recruit.name}}</h2>
      <div class="attack-speed">
        <span>Atk: {{recruit.attack}}</span>
        <span>Spd: {{recruit.speed}}</span>
      </div>
      <div class="show-ability">
        <i class="material-icons" ng-if="recruit.isChameleon">swap_horiz</i>
        <i class="material-icons" ng-if="recruit.ability">add</i>
      </div>
      <div class="hidden-buff" ng-if="types[recruit.type].buffs.length">
        <div ng-repeat="buff in types[recruit.type].buffs">
          {{buff}}
        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <span><img src="/res/howto_chart.png" style="max-height: 90px;"></span>
    <div class="message-column">
      <span class="instruction">Upgrade your Recruits</span>
      <span class="instruction" ng-if="ip">You Have {{ip}} More Upgrade{{ip != 1 ? "s" : ""}}</span>
      <button class="button" ng-click="togglePrepReady()" ng-class="{red: ready}">{{ready ? "Not " : ""}}Ready</button>
    </div>
    <span class="chat-button">
      <button class="button round chat" ng-click="toggleChatOverlay()" ng-if="canChat()" ng-class="{notify: newMessages}">
        <i class="material-icons">chat_bubble</i>
      </button>
    </span>
  </div>
  <div class="classes vert">
    <div class="class-info-container" ng-repeat="recruit in recruits" ng-if="recruit.health > 0">
      <div class="class-card {{recruit.class}}" ng-class="{dead: (recruit.health <= 0)}">
        <div class="status-bar">
          <span class="health">{{recruit.health}} / {{recruit.maxHealth}}</span>
        </div>
        <div class="avatar {{typeToClass(recruit.type)}} sprite-{{recruit.sprite}}"></div>
        <h2 class="name">{{recruit.name}}</h2>
        <div class="attack-speed">
          <span>Atk: {{recruit.attack}}</span>
          <span>Spd: {{recruit.speed}}</span>
        </div>
        <div class="show-ability">
          <i class="material-icons" ng-if="recruit.isChameleon">swap_horiz</i>
          <i class="material-icons" ng-if="recruit.ability">add</i>
        </div>
        <div class="hidden-buff" ng-if="types[recruit.type].buffs.length">
          <div ng-repeat="buff in types[recruit.type].buffs">
            {{buff}}
          </div>
        </div>
      </div>
      <span class="flex-grow"></span>
      <div class="class-card {{types[type].class}}" ng-class="{active: selectingRecruit == recruit, dead: !ip}" ng-repeat="type in recruit.evolutions"  ng-click="upgrade(recruit, type)">
        <div class="status-bar">
          <span class="health">
            <span>+{{types[type].meta.hp-recruit.maxHealth}}</span>
          </span>
        </div>
        <div class="avatar {{recruit.class}} sprite-{{types[type].sprite}}"></div>
        <h2 class="name">{{types[type].displayName}}</h2>
        <div class="attack-speed">
          <span>Atk: {{types[type].meta.atk}}</span>
          <span>Spd: {{types[type].meta.spd}}</span>
        </div>
        <div class="hidden-buff" ng-if="types[type].buffs.length">
          <div ng-repeat="buff in types[type].buffs">
            {{buff}}
          </div>
        </div>
      </div>
      <div class="power-up class-card {{recruit.class}}" ng-hide="recruit.ability" ng-click="power(recruit)" ng-class="{dead: !ip}">
        <span></span>
        <div class="class-icon {{recruit.class}} power"></div>
        <h2 class="name">Power Up</h2>
        <div class="hidden-buff">
          Unlocks the Power of a Top Tier Recruit
        </div>
      </div>
    </div>
  </div>
</div>