<!DOCTYPE html>
<div class="how-to">
  <h3>Change Log</h3>
  <span class="centered">
    <span class="subhead">Don't forget to refresh for new features!</span>
    <button class="button" ng-click="goHome()">Back</button>
  </span>

  <h2>1.3.6 (2/19/2017)</h2>

  <ul>
    <li>Server - Store wins/losses/games in database</li>
    <li>Server &amp; Client - Leaderboards</li>
  </ul>

  <h2>1.3.5 (2/19/2017)</h2>

  <ul>
    <li>Server - Fixed ability to crash server by sending specific json packets</li>
    <li>Server - Fixed tons of bugs regarding what players can send as attack/defend options</li>
    <li>Server &amp; Client - Added match timer for each phase (default 2 minutes)</li>
    <li>Client - Added Change Log Page</li>
  </ul>

  <h2>1.3.4 (2/19/2017)</h2>

  <ul>
    <li>Server - PBKDF2 Hashed Passwords (you're safe)</li>
    <li>Server - Restructured database to prepare for leaderboards</li>
  </ul>
</div>
