<!DOCTYPE html>
<div class="how-to">
  <h3>Change Log</h3>
  <span class="centered">
    <span class="subhead">Don't forget to refresh for new features!</span>
    <button class="button" ng-click="setPath('/')">Back</button>
  </span>

  <h2>2.0.6 (4/20/2018)</h2>

  <ul>
    <li>Client - Added horns to Cultist's attack animation</li>
  </ul>

  <h2>2.0.5 (4/20/2018)</h2>

  <ul>
    <li>Server - Sort leaderboard by <a href="http://www.evanmiller.org/how-not-to-sort-by-average-rating.html">lower bound of Wilson score confidence interval for a Bernoulli parameter</a></li>
  </ul>

  <h2>2.0.4 (4/20/2018)</h2>

  <ul>
    <li>Client - Updated strength/weakness chart</li>
    <li>Server - Cascading tormented potential</li>
    <li>Server &amp; Client - Changed turncoat into cultist and added ability spreading</li>
  </ul>

  <h2>2.0.3 (4/20/2018)</h2>

  <ul>
    <li>Client - Update how-to screen</li>
    <li>Server - Nerf dragon master again</li>
    <li>Server - Buff great knight</li>
  </ul>

  <h2>2.0.2 (4/20/2018)</h2>

  <ul>
    <li>Client - Update how-to screen</li>
    <li>Client - Slightly improved mobile support</li>
    <li>Server - Buff defending</li>
    <li>Server - Swap orange and purple balance</li>
  </ul>

  <h2>2.0.1 (4/20/2018)</h2>

  <ul>
    <li>Client - Fix join game lobby bug</li>
    <li>Client - Improved Aesthetic</li>
    <li>Server &amp; Client - Two new classes</li>
    <li>Server &amp; Client - Buffed green tree</li>
    <li>Server - Minor code clutter reduction</li>
  </ul>

  <h2>1.3.5 (2/19/2017)</h2>

  <ul>
    <li>Server - Fixed ability to crash server by sending specific json packets</li>
    <li>Server - Fixed tons of bugs regarding what players can send as attack/defend options</li>
    <li>Server &amp; Client - Added match timer for each phase (default 2 minutes)</li>
    <li>Client - Added Change Log Page</li>
  </ul>

  <h2>1.3.4 (2/19/2017)</h2>

  <ul>
    <li>Server - PBKDF2 Hashed Passwords (you're safe)</li>
    <li>Server - Restructured database to prepare for leaderboards</li>
  </ul>

  <h2>1.0.0 (2/10/2017)</h2>

  <ul>
    <li>Client &amp; Server - Base game</li>
  </ul>
</div>
