<!DOCTYPE html>
<div class="centered">
  <form class="form-container">
    <h2>Create Account</h2>
    <div class="input-container">
      <input type="text" ng-model="name" placeholder="Username">
      <label><i class="material-icons">person</i></label>
    </div>
    <button class="button" type="submit" ng-click="onCreate()" ng-class="{'wiggle': fail}" ng-disabled="verifying">Create</button>
    <button class="button" ng-click="goHome()">Back</button>
  </form>
</div>

<div class="token-overlay centered" ng-show="showToken">
  <h1>Write This Down</h1>
  <h2>Your token is: <span class="token">{{token}}</span></h2>
  <i>Your token cannot be changed</i>
  <button class="button" ng-click="doneAuth()">Done!</button>
</div>