<!DOCTYPE html>
<div class="how-to">
  <h2>Welcome to Branch</h2>
  <p>
    Branch is effectively rock paper scissors with more strategy. You can use <b><strike>Inversion Points (IP)</strike> Break Points (BP) to upgrade your recruits and unlock special abilities to make things more interesting</b>.
  </p>
  <p>
    To begin, click the “Battle” button at the bottom of this page or on the home screen to enter the lobby where you will be matched with the next available player.
  </p>
  <p>
    <b>Note</b>: If you make an account, you can also challenge your friends by entering each other’s username on the challenge screen!
  </p>
  <p>
    When entering a battle, you may choose any combination of three of the five types of classes shown below. Each class tree's third tier unit has a unique, <b>unlockable</b> ability.
  </p>
  <div class="howto-tree">
    <div class="howto-container" ng-repeat="class in ['future', 'feudal', 'fantasy', 'feral', 'fanatic']">
      <div class="howto-column">
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}}"></div>
          <h2 class="name">{{types[($index+1) + '00'].displayName}}</h2>
        </div>
      </div>
      <div class="howto-column {{class=='fantasy' ? 'reverse' : ''}}">
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}} sprite-1"></div>
          <h2 class="name">{{types[($index+1) + '10'].displayName}}</h2>
        </div>
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}} sprite-2"></div>
          <h2 class="name">{{types[($index+1) + '11'].displayName}}</h2>
        </div>
      </div>
      <div class="howto-column">
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}} sprite-3"></div>
          <h2 class="name">{{types[($index+1) + '20'].displayName}}</h2>
        </div>
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}} sprite-4"></div>
          <h2 class="name">{{types[($index+1) + '21'].displayName}}</h2>
        </div>
        <div class="class-card recruit {{class}}">
          <span></span>
          <div class="avatar {{class}} sprite-5"></div>
          <h2 class="name">{{types[($index+1) + '22'].displayName}}</h2>
        </div>
      </div>
    </div>
  </div>
  <p>
    After choosing your recruits, the battle begins. Note the Atk (Attack) and Spd (Speed) values on the bottom left of each recruit card. <b>Attack is the amount of base damage</b> each recruit will do and <b>speed controls the order in which recruits will attack</b>. Ties in speed result in random ordering.
  </p>
  <p>
    <b>Hover over your recruits to choose their actions.</b> The top button, attack, allows you to pick your target enemy. The bottom button, defend, applies a 1/2 damage modifier to any incoming damage regardless of type.
  </p>
  <p>
    There are five types of recruits: Future (Blue), Feudal (Red), Fantasy (Green), Fanatic (Purple), and Feral (Orange). Red beats Orange and Green, Green beats Blue and Purple, Purple beats Red and Orange, Orange beats Blue and Green, and Blue beats Purple and Red.
  </p>
  <div class="centered">
    <img src="/res/howto_triangle.png" style="max-height: 200px;">
  </div>
  <p>
    Stronger types deal 150% times damage against a weaker type, matched types take and deal equal damage, and weaker types deal 2/3 damage.
  </p>
  <p>
    Each tier 3 unit has a unique ability, listed here:
  </p>
  <table class="stylish-table">
    <tr><td class="blue">Sniper</td><td>-10 Enemy team speed</td></tr>
    <tr><td class="blue">Ranger</td><td>Attack priority</td></tr>
    <tr><td class="blue">Striker</td><td>Splash damage when attacking</td></tr>
    <tr><td class="red">Great Knight</td><td>Protects ally team from incoming damage</td></tr>
    <tr><td class="red">Royal Knight</td><td>Ally team +5 attack and +5 speed</td></tr>
    <tr><td class="red">Assassin</td><td>+10 Ally team speed</td></tr>
    <tr><td class="green">Dragon Master</td><td>Heals allies +10 HP each round</td></tr>
    <tr><td class="green">Summoner</td><td>Nullifies enemy attack abilities and debuffs</td></tr>
    <tr><td class="green">Arch Mage</td><td>Nullifies enemy healing abilities and buffs</td></tr>
    <tr><td class="purple">Diviner</td><td>Heal allies upon death (2 x remaining health before last attack)</td></tr>
    <tr><td class="purple">Turncoat</td><td>Change color to match last attacker</td></tr>
    <tr><td class="purple">Tormented</td><td>Damage enemies upon death (2 x remaining health before last attack)</td></tr>
    <tr><td class="orange">Grograman</td><td>50% more damage done for every living ally</td></tr>
    <tr><td class="orange">Stelmaria</td><td>50% more damage to an enemy attacking an ally</td></tr>
    <tr><td class="orange">Guenhwyvar</td><td>50% more damage done for every dead ally</td></tr>
  </table>
  <p>
    <b>Note</b>: The abilities are only active once the <b>Power Up</b> upgrade is purchased. This upgrade can be purchased at any time but is <b>not useful to anyone other than tier 3</b>.
  </p>
  <span class="centered">
    <button class="button" ng-click="startBattle()">Battle!</button>
    <button class="button" ng-click="setPath('/')">Back</button>
  </span>
</div>
