<!DOCTYPE html>
<div class="how-to">
  <h2>Welcome to Branch</h2>
  <p>
    Branch is an online multiplayer battle simulator, where commanders pit their recruits against other commanders. As the battle rages, commanders can use IP (Inversion Points) to evolve their units and unlock special abilities.
  </p>

  <p>
    When entering a battle, you must choose any combination of the three types of class trees. Each tree's third-stage unit has a unique ability that can be unlocked.
  </p>
  
  <img src="/res/howto_tree.png">
 
  <p>
    After choosing your units, the battle begins. Hover over your recruits to make the choice as to either attack or defend.
  </p>
 
  <img src="/res/howto_triangle.png" style="max-height: 200px;">

  <p> 
    Be sure to take into consideration that each type has a counter. Also note, every upgraded unit also has a counter.
  <p>
 
  <p>
    Each tier 3 unit has a unique ability, listed here:
  </p>
  
  <table>
    <tr><td>Sniper</td><td>-10 Enemy team Speed</td></tr>
    <tr><td>Ranger</td><td>Attack Priority</td></tr>
    <tr><td>Striker</td><td>Splash Damage when attacking</td></tr>
    <tr><td>Great Knight</td><td>Protects Ally team from incoming damage</td></tr>
    <tr><td>Royal Knight</td><td>Ally team +5 Attack and +5 Speed</td></tr>
    <tr><td>Assassin</td><td>+10 Ally team Speed</td></tr>
    <tr><td>Dragon Master</td><td>+20 HP to allies on each Round</td></tr>
    <tr><td>Summoner</td><td>Nullifies hostile Debuffs</td></tr>
    <tr><td>Arch Mage</td><td>Nullifies Enemy Buffs</td></tr>
  </table>
  <span class="centered">
    <button class="button" ng-click="startBattle()">Battle!</button>
  </span>
</div>