<!DOCTYPE html>
<div class="centered">
  <form class="form-container">
    <h2>Sign In</h2>
    <div class="input-container">
      <input type="text" ng-model="user" placeholder="Username">
      <label><i class="material-icons">person</i></label>
    </div>
    <div class="input-container">
      <input type="password" ng-model="token" placeholder="Token">
      <label><i class="material-icons">lock</i></label>
    </div>
    <button class="button" type="submit" ng-click="onLogin()" ng-class="{'wiggle': fail}" ng-disabled="verifying">Login</button>
  </form>
</div>